ol {
    background-color: yellow;
}

ol.verde li:nth-child(even) {
    color: green;
}

ol.verde li:nth-child(odd) {
    text-transform: uppercase;
}

.hred {
    color: red;
}

h1.hred {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

ol.verde li {
    font-weight: bold;
}

li:hover {
    font-weight: bold;  
}

.stack {
    color: orange;
}

.tryschoo {
    color: green;
}

.mdn {
    color: black;
}
 .dev {
     color: yellow;
 }

 a {
     text-decoration:none;
 }


 #linguagens li:not(:nth-child(n + 4)) {
    color: blue;
 }

 .pink {
     background-color: pink;
 }